@import '../Variables/Variables.scss';

.navbar{
    width: 100vw;
    height: 60px;
    background-color:$gray-color;

    a{
    color: $white-color;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem;
    font-family: $title-font;
    margin: .6rem;
    }
    @include flexContainer(flex-end);
    
}
